body {
    font-family: 'Poppins', sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#profile-container {
    text-align: center;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.profile-header {
    position: relative;
}

#profile-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#profile-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: #fff;
    font-size: 1.5em;
}

#profile-description {
    margin-top: 15px;
    color: #555;
    font-size: 1.2em;
    text-align: justify;
}
